<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="parallelEngineBinding" />
			</basicHttpBinding>
		</bindings>

		<services>
			<service name="CoreCloud.ParallelEngine">
				<endpoint address="http://localhost:4080/ParallelEngine" binding="basicHttpBinding" contract="CoreCloud.IParallelEngine"/>
			</service>
		</services>
	</system.serviceModel>
</configuration>
